/* AppShell.css */

.app-shell {
  display: flex;
  height: 100vh;
}

/* Desktop layout */
.app-shell {
  --topbar-height: 60px;
  --sidebar-width: 200px;
}

/* Tablet */
@media (max-width: 1024px) {
  .app-shell {
    --sidebar-width: 120px;
  }
}

/* Mobil */
@media (max-width: 768px) {
  .app-shell {
    flex-direction: column;
    --sidebar-width: 0px;
  }
}
